/*DIGITAL CLOCK FONT*/
@font-face{
 font-family:'digital-7';
 src: url('../fonts/digital-7.ttf');
}



* {
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	background-color: #000000;
	font-family: 'digital-7', sans-serif;
}

main {
	text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border: solid 5px #ffffff;
}


/* DAYS OF THE WEEK */
div.days {
	margin: 0 auto;
	color: #131212;
}

div.days .day {
	display: inline-block;
}

div.days .day p {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
}


/* CLOCK */
div.clock {
	margin: 5px 0;
}

div.clock div{
	display: inline-block;
	position: relative;
}

div.clock div p{
	font-size: 100px;
	position: relative;
	z-index: 100;
}

div.clock .placeholder {
	color: #131212;
	position: absolute;
	top: 0;
	z-index: 50;
}/*END CLOCK*/


/* AM OR PM*/
.am-pm {
	font-family: sans-serif;
	text-transform: uppercase;
	width: 20px;
}

div.am-pm div p {
	font-size: 12px;
	font-weight: bold;
	width: 100%;
}

.am, .pm {
	color: #131212;
}

/*CLASS THAT CHANGES COLOR OF TEXT TO APPEAR LIKE ITS "ON"*/
.light-on {
	color: #ffffff;
}


/* 날씨 부분 css */
.weather {
  position: absolute;
  margin-top: 300px;
  width: 400px;
  left: 70%;

}
/* 달력 부분 css */
.cal {
  position: absolute;
  margin-top: 600px;
  left: 70%;

}

/* 레터링 */
@font-face { font-family: 'KHNPHD'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff'); font-weight: normal; font-style: normal; }
.letter {
  font-family: 'KHNPHD';
  text-align: center;
  position: relative;
  margin-top: 400px;
}

.letter h2{
  font-size: 60px;
}

.letter p {
  font-size: 30px;
}
